**/target/
**/out/
*.class
*.jar
*.war

**/.mvn/
**/mvnw
**/mvnw.cmd

.idea/
*.iml
.vscode/

*.log
logs/

.DS_Store
Thumbs.db

**/application-local.properties
**/application-local.yml
.env

**/test-output/
**/surefire-reports/

*.bak
*.tmp
